.container {
    display: flex;
    flex-direction: row;
}

.title {
    z-index: 99999999999;
    font-size: 16px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    padding: 8px 16px;
    margin: 0;
    top: 8px;
    left: 8px;
    border-radius: 4px;
    position: fixed;
    font-weight: light;
    backdrop-filter: blur(24px);
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    outline: 3px solid rgba(0, 0, 0, 0.2);
}