.overlay {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: 0.5s ease opacity;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal {
    z-index: 999999999999;
    box-sizing: border-box;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    top: 0;
    right: 0;
    padding: 16px;
    width: 512px;
    height: calc(100vh - 16px);
    margin: 8px;
    border-radius: 4px;
    outline: 3px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(24px);
    transition: 0.3s ease right;
    background-color: rgba(0, 0, 0, 0.6);
}